.why-section {
  background-color: #f8fafa;
  padding: 60px 60px;
  text-align: center;
}

.why-header {
  max-width: 900px;
  margin: 0 auto 40px;
}

.why-header h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1e1e1e;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1360px;
  margin: 0 auto;
}

.why-card {
  border-radius: 12px;
  padding: 20px 20px 30px;
  text-align: center;
}

.why-icon {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
}

.why-icon img {
  width: 60px;
  height: 60px;
}

.why-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #2B353B;
  margin-bottom: 15px;
  text-align: left;
}

.why-card p {
  font-size: 0.95rem;
  color: #2B353B;
  line-height: 1.6;
  text-align: left;
}


@media screen and (max-width: 1024px) {
  .why-header h2 {
    font-size: 36px;
    text-align: center;
  }

  .why-header p {
    font-size: 18px;
    padding: 0 10px;
  }

  .why-card h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .why-header {
    text-align: left;
  }

  .why-card {
    text-align: left;
  }

  .why-section{
    padding: 40px;
  }

  .why-icon{
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .why-section {
    padding: 30px 35px;
  }

  .why-header {
    text-align: left;
    padding: 0;
  }

  .why-header h2 {
    font-size: 30px;
  }

  .why-card {
    text-align: left;
    padding: 16px 0;
  }

  .why-card h3 {
    font-size: 18px;
  }

  .why-card p {
    font-size: 14px;
  }

  .why-icon img {
    width: 48px;
    height: 48px;
  }
}

