.footer {
    background: #FCFDFD;
    padding: 40px 70px 40px;
    font-size: 14px;
    color: #1d1e2c;
}

.footer-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-section h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;

}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #1d1e2c;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-logo {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 8px;
    font-family: 'Karantina', cursive;

}

.footer-desc {
    color: #4d4f63;
    max-width: 240px;
    font-weight: 500;
    font-size: 14px;
}

.footer-section p {
    margin-bottom: 20px;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 12px;
    margin-top: 8px;
}


.social-icons a svg {
    width: 30px;
    height: 25px;
    transition: transform 0.3s ease;
}

.social-icons a:hover svg {
    transform: scale(1.2);
}


.footer-section p svg {
    vertical-align: middle;
    display: inline;
}


.footer-bottom {
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    margin-inline: auto;
}

.footer-bottom a,
.footer-bottom p {
    color: #1d1e2c;
    text-decoration: none;
    font-weight: 500;
}


@media (max-width: 768px) {
    .footer {
        padding: 30px 35px;
        font-size: 13px;
    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .footer-section {
        text-align: left;
    }

    .footer-logo {
        font-size: 28px;
    }

    .footer-desc {
        max-width: 100%;
        font-size: 13px;
    }

    .social-icons {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .social-icons a svg {
        width: auto;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 30px 35px;
        font-size: 13px;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 30px 35px;
        font-size: 13px;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .footer-desc{
        max-width: 220px;
        font-size: 14px;
    }
}