.aboutsec3-section {
    padding: 60px 60px;
    background-color: #f9fafb;
}

.aboutsec3-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.aboutsec3-content {
    flex: 1;
    max-width: 520px;
}

.aboutsec3-content h3 {
        color: #111827;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

.aboutsec3-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #4b5563;
    margin-bottom: 24px;
}

.aboutsec3-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2563eb;
    color: white;
    border: 1px solid #2563eb;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.aboutsec3-btn:hover {
    background-color: #fff;
    color: #2563eb;
    border: 1px solid #2563eb;
}

.aboutsec3-image {
    text-align: center;
}

.aboutsec3-image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .aboutsec3-section{
        padding: 40px 40px;
    }
    .aboutsec3-container {
        flex-direction: column;
        text-align: center;
    }

    .aboutsec3-content {
        max-width: 100%;
    }

    .aboutsec3-content h3 {
        font-size: 24px;
        line-height: 30px;
        text-align: left;
    }

    .aboutsec3-content p {
        font-size: 14px;
        text-align: left;

    }

    .aboutsec3-btn {
        font-size: 13px;
        padding: 10px 20px;
    }
}