.why-section {
  background-color: #f8fafa;
  padding: 60px 60px;
  text-align: center;
}

.why-header {
  max-width: 900px;
  margin: 0 auto 40px;
}

.why-header h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #1e1e1e;
}

.why-header p {
  font-size: 20px;
  color: #2B353B;
  max-width: 850px;
  margin: 0 auto;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1360px;
  margin: 0 auto;
}

.why-card {
  border-radius: 12px;
  padding: 20px 20px 30px;
  text-align: center;
}

.why-icon {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
}

.why-icon img {
  width: 60px;
  height: 60px;
}

.why-card h3 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 500;
  color: #2B353B;
  margin-bottom: 15px;
  text-align: left;
}

.why-card p {
  font-size: 0.95rem;
  color: #2B353B;
  line-height: 1.6;
  text-align: left;
}

.trustedd {
  padding-top:80px;
}

.trusted-heading {
  font-size: 18px;
  color: #444;
  font-weight: 500;
  margin-bottom: 36px;
  text-align: center;
}

.brands-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.brand-logo {
  display: flex;
  justify-content: center;
}

.brand-logo img {
  height: auto;
  width: 150px;
  opacity: 0.95;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.brand-logo img:hover {
  transform: scale(1.05);
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .why-header h2 {
    font-size: 36px;
  }

  .why-header p {
    font-size: 18px;
    padding: 0 10px;
  }

  .why-card h3 {
    font-size: 20px;
  }

  .brand-logo img {
    width: 120px;
  }

  .brands-wrapper {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .why-section {
    padding: 50px 16px;
  }

  .why-header h2 {
    font-size: 30px;
  }

  .why-header p {
    font-size: 16px;
  }

  .why-card {
    padding: 8px 16px;
  }

  .why-card h3 {
    font-size: 20px;
  }

  .why-card p {
    font-size: 14px;
  }

  .brand-logo img {
    width: 100px;
  }

  .trusted-heading {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .why-header h2 {
    font-size: 26px;
  }

  .why-header p {
    font-size: 15px;
  }

  .why-card h3 {
    font-size: 18px;
  }

  .why-card p {
    font-size: 13px;
  }

  .brand-logo img {
    width: 90px;
  }

  .trustedd{
    padding-top: 40px;
  }

  .trusted-heading {
    font-size: 15px;
    padding: 0 10px;
  }

  .brands-wrapper .brand-logo:nth-child(1),  /* Shopify */
  .brands-wrapper .brand-logo:nth-child(5) { /* Believe */
    display: none !important;
  }

  .brands-wrapper{
      gap: 16px;
  }
}
